@import url('/css/utilities.css');

html,
body {
    height: 100%;
}

body {
    background-color: #1A1A1A;
    color: white;
    margin: 0;
}

/*
 * #appbar {
 *    background-color: #2D2D2D;
 *    padding: 1vh 2vh;
 * }
 */

#nav {
    background-color: #2D2D2D;
    height: auto;
    padding: 1.5vh;
}

.nav-icon-link {
    margin-bottom: 1.5vh;
}

.nav-icon {
    font-size: 3vh !important;
}

#nav-panel {
    width: 15%;
    height: auto;
    background-color: #262626;
    display: flex;
    flex-direction: column;
}

#nav-panel-content {
    height: 100%;
    overflow-y: auto;
}

#nav-panel-bottom-bar {
    padding: .5vh .75vh;
    background-color: #2A2A2A;
    font-size: 1.25vh;
    display: flex;
}

#nav-panel-bottom-bar-username {
    width: 100%;
    cursor: pointer;
}