@import url('/css/utilities.css');

html,
body {
    height: 100%;
}

body {
    background-color: #1A1A1A;
    color: white;
    margin: 0;
}

/*
 * #appbar {
 *    background-color: #2D2D2D;
 *    padding: 1vh 2vh;
 * }
 */


#app-side {
    display: flex;
    min-width: 20%;
}

#nav {
    background-color: #2D2D2D;
    height: auto;
    padding: 1rem;
}

.nav-icon-link {
    margin-bottom: 1rem;
    cursor: pointer;
}

.nav-icon {
    font-size: 3vh !important;
    color: #AAAAAA;
    transition: all .25s;
}

.nav-icon:hover {
    color: #CCCCCC;
}

.nav-icon-active {
    color: #FFFFFF;
}

.nav-icon-active:hover {
    color: #FFFFFF;
}

#nav-panel {
    width: 100%;
    height: auto;
    background-color: #262626;
    display: flex;
    flex-direction: column;
}

#nav-panel-content {
    height: 100%;
    overflow-y: auto;
}

#nav-panel-bottom-bar {
    padding: .5rem .75rem;
    background-color: #2A2A2A;
    font-size: 1rem;
    display: flex;
}

#nav-panel-bottom-bar-username {
    width: 100%;
    cursor: pointer;
}

#app-content {
    width: 80%;
}

#app-chat-header {
    background: #212121;
    padding: .75rem 1rem;
}

#app-chat-area {
    min-height: 0;
}

#app-chat-chatbox {
    background: #212121;
    padding: .5rem .75rem;
}

#chat-textbox {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: white;
    font-size: 1rem;
    padding: 0px;
    width: 100%;
}

#chat-textbox:hover {
    background: #262626;
}

#chat-textbox:focus {
    background: #2A2A2A;
    outline: 0;
}

#chat-typing-indicator {
    margin: .5rem 1rem;
}

#chat-textbox-indicator {
    margin-right: .75rem;
}

#app-chat-msg {
    height: 100%;
    padding: 1rem;
    overflow: auto;
    overflow-wrap: break-word;
}

.msg > span {
    overflow: auto;
    overflow-wrap: break-word;
}