div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input {
    font-family: monospace;
}

.d-flex { display: flex; }

.flex-column { flex-direction: column; }

.align-items-center { align-items: center; }

.h-100 { height: 100%; }

.h-auto { height: auto; }

.w-100 { width: 100%; }

.w-auto { width: auto; }